#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#logo-area {
  width: 100%;
  float: left;
  #logo {
    width: 128px;
    float: left;
    margin-left: 10em;
  }
  #logo-text {
    font-size: 2em;
    float: left;
    padding-top: 2em;
  }
}
/* Naviation related styles  */
nav {
  float: right;
  margin-right: 10em;
  padding-top: 3em;
}
nav ul {
  list-style-type: none;

  li {
    display: inline-block;

    a:link,
    a:visited,
    a:hover,
    a:active {
      display: inline-block;
      padding: 5px;
      margin: 5px;
      cursor: pointer;
      color: darkorange;
    }

    a:hover {
      background-color: darkorange;
      color: white;
      text-decoration: none;
    }

    a.router-link-active:link,
    a.router-link-active:visited,
    a.router-link-active:hover,
    a.router-link-active:active {
      text-decoration: none;
      color: black;
      background-color: white;
      cursor: inherit;
    }
  }
}

/* homepage recipe area styles  */
.recipe-list {
  float: left;
  overflow: auto;
  box-sizing: border-box;
  width: 30%;
  margin: 2em 0 0 1em;

  .recipe-thumb {
    max-width: 200px;
  }
}

.recipe-full-thumb {
  float: left;
  overflow: auto;
  box-sizing: border-box;
  width: 50%;
  padding: 0 0 0 6em;
}
.recipe-detail {
  text-align: left;
  float: right;
  overflow: auto;
  box-sizing: border-box;
  width: 50%;
  padding: 0 7em 0 1em;
  margin-bottom: 2em;
  .ingredients {
  }
  .directions {
    li {
      margin: 1em 0;
    }
  }
}
